@font-face {
    font-family: 'GothaProBol'; 
    src: url("..//fonts/GothaProBol.otf") format("opentype");
}
@font-face {
    font-family: 'GothaProReg'; 
    src: url("..//fonts/GothaProReg.otf") format("opentype");
}
@font-face {
    font-family: 'GothaProBla'; 
    src: url("..//fonts/GothaProBla.otf") format("opentype");
}

body {
	font-family: ;       /*fill it*/
	font-weight: 300;
	font-size: 16px;
	color: black;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;        /*fill it*/
	font-weight: 300;
}
p {
	margin: 0;        /*fill it*/
}
.container {
	width: 61%;
	margin: 0 auto;
	margin-top: 55px;
}
.container-fluid {
	padding: 0;
}
/*HEADER*/
.header {
	text-align: center;
	background-image: url(..//images/header-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;  
	background-color: #321953;
}
.top-content {
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: flex-start;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 61%;
	margin: 0 auto;
	margin-top: 55px;
}
.logo {
	width: 30%;
}
.logo img {
	width: 100%;
}
.number {
	padding: 9px;
	font-family: GothaProBol;
	color: #f0e428;
}
.number__h3 {
	font-size: 1.8em;
}
.number__a {
	font-size: 1.2em;
	color: #f0e428;
}
.number__a:hover {
	color: #f0e428;
}
.middle-content {
	color: white;
}
.middle-content__h2 {
	font-family: 'Lobster';
	font-size: 2.7em;
}
.middle-content__h3 {
	margin-top: 20px;
	font-family: GothaProReg;
	font-size: 1.25em;
}
.banner {
	margin: 50px 0px;
	padding: 30px 0;
	background-image: url(..//images/banner-bg.png);
}
.banner__h1 {
	width: 57%;
	margin: 0 auto;
	font-family: GothaProBla;
	font-size: 2.3em;
	text-transform: uppercase;
	color: #f0e428;
}
.banner__span {
	color: white;
}
.header__btn {
	margin: 90px 0px 120px 0px;
	padding: 10px 30px;
	border: 7px solid #f0e428;
	border-radius: 5px;
	font-family: GothaProBol;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #f0e428;
	background: transparent;
}
/*GALLERY*/
.gallery {
	text-align: center;
}
.gallery__h2 {
	margin-top: 10px;
	margin-bottom: 80px;
	font-family: GothaProBol;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #074b51;
}
.gallery__elem {
	margin-bottom: 30px;
}
.gallery__elem img {
	width: 100%;
}
.desc {
	margin-top: 1px;
	padding: 20px 5px;
	text-transform: uppercase;
	color: white;
}
.desc__p {
	font-family: GothaProBol;
	font-size: .8em;
}
/*application*/

.application {
	margin-top: 30px;
	padding: 300px 0px;
	text-align: center;
	background-image: url(..//images/application.png);
	background-size: cover;
	background-position: center;
}
.banner-second-section {
	padding: 50px 0px;
}
.banner__h2 {
	margin-bottom: 30px;
	font-family: GothaProBol;
	font-size: 1.7em;
	color: white;
}
.banner__btn {
	padding: 20px 50px;
	border: 0;
	font-family: GothaProBol;
	font-size: 1.3em;
	color: white;
	background-color: #24a4a9;
}

/*SERVICE*/
.service {
	padding: 50px 0px; 
	text-align: center;
	background-image: url(..//images/service-bg.png);
	background-size: cover;
	font-family: GothaProBol;
	color: #09273d;
}
.service__h2 {
	font-size: 2.25em;
}
.service__p {
	margin-top: 20px;
	line-height: 1.2;
	font-size: 1.1em;
}
.service__content {
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: flex-start;
	-webkit-flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}
.service__elem {
	width: 25%;
}
.service__elem img {
	width: 100%;
}

/*FOOTER SECTION*/
.footer {
	position: relative;
}
.map { 
	width: 100%;
}
.map iframe { 
	width: 100%;
	height: 500px;
}
.contacts {
	position: absolute;
	left: 57%;
	top: 163px;
	width: 320px;
	padding: 0px 35px;
	background-color: white;
}
.contacts__inner {
	margin-top: 10px;
}
.contacts__h2 {
	margin: 0;
	margin-top: 29px;
	margin-bottom: 17px;
	color: #202040;
	font-family: GothaProBla;
	font-size: 2em;
	letter-spacing: 1.6px;
	text-transform: uppercase;
}
.contacts__line {
	width: 200px;
	height: 10px;
	margin-left: 0px;
	margin-bottom: 17px;
	background-color: #ff4e00;
}
.contacts__img {
	float: left;
}
.contacts__p {
	margin-left: 25px;
	font-family: GothaProReg;
	font-size: 12px;
	letter-spacing: 1.3px;
}
.contacts__btn {
	width: 320px;
	margin-left: -35px;
	margin-top: 10px;
	padding: 10px 35px;
	border: 0;
	border-radius: 0;
	font-family: GothaProReg;
	font-size: 1em;
	letter-spacing: 0.5px;
	color: white;
	background: #ff4e00;
}

/*FEATURES*/
.features {
	margin-top: 55px;
	padding: 40px 0px;
	text-align: center;
	background-image: url(..//images/service-bg.png);
	background-size: cover;
	background-position: center;
}
.features__h2 {
	margin-bottom: 20px;
	font-family: GothaProBol;
	font-size: 1.7em;
	text-transform: uppercase;
	color: #0347ad;
}
.features__p {
	font-family: GothaProBol;
	font-size: 1.4em;
}
.features .container {
	margin-top: 30px; 
}
.features__content {
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
	-webkit-align-content: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}
.features__elem {
	position: relative;
	padding: 0px;
	text-align: center;
	background-color: #b6c1de;
}
.features__h3 {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: GothaProBol;
	font-size: .9em;
	text-transform: uppercase;
	background-color: #b6c1de;
}
.features__elem img {
	width: 100%;
}
/*STANCE*/
.stance {
	text-align: center;
	font-family: GothaProBol;
	color: #09273d;
}
.stance__h2 {
	margin-bottom: 30px;
	font-size: 1.8em;
	text-transform: uppercase;
}
.stance__p {
	margin-bottom: 30px;
	font-size: 1.2em;
}
.stance__ul {
	text-align: left;
}
.stance__map img {
	width: 100%;
}
/*SLIDER*/
.slider {
	position: relative;
	margin-top: 60px;
	text-align: center;
}
.slider__h2 {
	margin-bottom: 30px;
	font-family: GothaProBol;
	font-size: 1.8em;
	text-transform: uppercase;
	color: #09273d;
}
.slider__main-content {
	padding: 60px 0px;
	padding-bottom: 100px;
	background-image: url(..//images/bg-slider.png);
	background-size: cover;
	background-position: center;
}
.slider__elem {
	width: 50%;
	margin: auto;
}
.slider__elem img {
	width: 100%;
}
.slider__desc {
	padding: 10px 0px;
	font-family: GothaProBol;
	font-size: 2em;
	color: white;
	background-color: #ff5a00;
}
.carousel-control.right, .carousel-control.left {
	position: absolute;
	top: 50%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-image: none;
	background-color: #ad01f5;
	opacity: 1;
} 
.carousel-control.right {
	right: 17%;
}
.carousel-control.left {
	left: 17%;
}
#right {
	position: absolute;
	top: 50%;
	left: 53%;
	transform: translate(-50%, -53%);
}
#left {
	position: absolute;
	top: 50%;
	left: 43%;
	transform: translate(-43%, -50%);
}
.carousel-control.left:hover, .carousel-control.right:hover {
	opacity: 0.8;
}

/*ABOUT*/
.about {
	margin-top: 0px;
	padding-bottom: 150px;
	text-align: center;
	font-family: GothaProBol;
}
.about__h2 {
	margin: 100px 0px;
	font-size: 1.8em;
	text-transform: uppercase;
	color: #09273d;
}
.about__elem {
	line-height: 1;
}
.about__elem span{
	font-size: 2.5em;
	color: #2ba4d1;
}
.about__slider {
	position: relative;
}
.about__slider-elem {
	position: relative;
	height: 150px;
}
.about__slider-elem img {
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.about-left.carousel-control.left {
	top: 60%;
	left: -12%;
}
.about-right.carousel-control.right {
	top: 60%;
	right: -12%;
}
/*ABILITIES*/
.abilities {
	text-align: center;
	font-family: GothaProBol;
	color: #09273d;
}
.abilities__h2 {
	font-size: 2em;
}
.abilities__h3 {
	margin-top: 50px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 1.3em;
}
.abilities__inner {
	display: -webkit-inline-flex;
	-webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 24%;
	padding: 0px;
	vertical-align: middle;
}
.abilities__inner img {
	width: 100%;
}

